body {
    background: linear-gradient(to bottom right, rgb(27, 128, 230), rgb(103, 221, 234));
}

.formulario-container {
    background-color: #f0f8ff; /* Color de fondo azul claro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra ligera */
  }
  
  .formulario-title {
    color: #007bff; /* Color azul */
  }
  